body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#textEditor{
    text-align: center;
}
#heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#customs{
    display: flex;
    gap: 10px;
}
#headerContainer{
    background-color: rgba(245, 245, 220, 0.787);
    padding: 10px;
}

